<div>
  <%= link_to 'Back', previous_page_helper() %>
  <h1>Store #<%= @store.id %></h1>

  Name: <%= @store.name %>
  <br />
  City: <%= @store.city %>
  <br />
  <%# ✔️BONUS TODO: Calculate average rating based on the reviews from all of the product's rating %>
  Average Rating: <%= @store.rating_helper %>
  <br />
  <br />

  </div>

  <br />
  <br />

  <div>

  <h2>Products</h2>

  <ul>
    <% if @store.product_exist? %>
      <% @store.products.each do |product| %>
        <li><%= link_to product.name, product_url(product) %></li>
      <% end %>
    <% else %>
      <li>This store does not has any product yet</li>
    <% end %>
  </ul>
</div>
