<div>

<h1>Store #<%= @store.id %></h1>

Name: <%= @store.name %>
<br />
City: <%= @store.city %>
<br />
<%# BONUS TODO: Calculate average rating based on the reviews from all of the product's rating %>
<%# Average rating: <%= @store.average_rating %>
<br />
<br />

</div>

<br />
<br />

<div>

<h2>Products</h2>

<ul>
<% @store.products.each do |product| %>
  <li><%= link_to product.name, product_url(product) %></li>
<% end %>
</ul>

</div>
