<div>

Name: <%= @product.name %>
<br />
<!-- TODO: format currency -->
Price: <%= @product.price %>
<br />
Quantity: <%= @product.quantity %>
<br />
<!-- TODO: format date time -->
Posted on: <%= @product.created_at %>

<br />
<br />
<%= link_to 'Buy', new_product_purchase_url(@product) %>

</div>