<div>

<h1>Purchase #<%= @purchase.id %></h1>

Quantity: <%= @purchase.quantity %>
<br />
Address: <%= @purchase.delivery_address %>
<br />
<!-- TODO: format date time -->
Purchased at: <%= @purchase.created_at %>

<br />
<br />
<%= link_to 'Edit', 'TODO' %>
&nbsp;&nbsp;
<%= link_to 'Delete', 'TODO' %>
&nbsp;&nbsp;
<%= link_to 'Give a Review', new_review_url(review: { purchase_id: @purchase.id }) %>

</div>
