<div>
  <%= link_to 'Back', previous_page_helper() %>
  <h1>Purchase #<%= @purchase.id %></h1>

  Quantity: <%= @purchase.quantity %>
  <br />
  Address: <%= @purchase.delivery_address %>
  <br />
  <%# ✔️TODO: Format the date time to make it more readable %>
  Purchased at: <%= @purchase.created_at.strftime("%d %B %Y")  %>

  <br />
  <br />

  <%# ✔️TODO: Open purchases#edit page %>
  <%= link_to 'Edit', edit_product_purchase_url() %>

  &nbsp;&nbsp;

  <%# ✔️TODO: Make a DELETE request to purchases#destroy %>
  <%= link_to 'Delete', product_purchase_url(), method: :delete %>
  <br />
</div>

<div>
  <h2>Review</h2>

  <% if @purchase.review_exist? %>
    <%# ✔️TODO: Display the review here %>
    <li><%= "Rating: #{@review.rating}" %></li>
    <li><%= "Comment: #{@review.comment}" %></li>

  <% else %>
    <%# show the 'give review button %>
    <%= link_to 'Give a Review', new_review_url(review: {
      purchase_id: @purchase.id
      }) %>
  <% end %>
</div>
