<div>
  <h1>Create a new product</h1>
  <%= form_with model: @product, local: true do |f| %>
    <div style="margin-top: 10px;">
      <div><%= f.label :name %><div>
      <%= f.text_field :name %>
    </div>
    
    <div style="margin-top: 10px;">
      <div><%= f.label :price %><div>
      <%= f.text_field :price %>
    </div>
    
    <div style="margin-top: 10px;">
      <div><%= f.label :quantity %><div>
      <%= f.text_field :quantity %>
    </div>
      
    <div style="margin-top: 10px;">
      <div><%= f.label :store_id %><div>
      <%# <%= f.text_field :store_id %>
      <%= f.collection_select :store_id, @stores.order(:name), :id, :name %>
    </div>
    
    <div style="margin-top: 14px;">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>