<div>

<%= form_with model: @review, local: true do |f| %>
  <%= f.hidden_field :purchase_id %>

  <div style="margin-top: 10px;">
    <div><%= f.label :rating %><div>
    <%= f.text_field :rating %>
  </div>
  
  <div style="margin-top: 10px;">
    <div><%= f.label :comment %><div>
    <%= f.text_field :comment %>
  </div>
  
  <div style="margin-top: 14px;">
    <%= f.submit "Submit" %>
  </div>
<% end %>

</div>